<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976133652161-b1ff83e3lll88gecj6e1q0tvf7u4b3fr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976133652161-b1ff83e3lll88gecj6e1q0tvf7u4b3fr</string>
	<key>API_KEY</key>
	<string>AIzaSyAvkkkccO4lV-Oz8jPqy1GGUtxqr5ZoSQg</string>
	<key>GCM_SENDER_ID</key>
	<string>976133652161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riderApp</string>
	<key>PROJECT_ID</key>
	<string>flutteruberclone-6a5fe</string>
	<key>STORAGE_BUCKET</key>
	<string>flutteruberclone-6a5fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976133652161:ios:ae79528d445e4a065f9e40</string>
</dict>
</plist>